<!doctype html>
<html lang="en">
<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
    $(document).ready(function(){
      $('.slider').bxSlider()
    });

    </script>

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {% endblock %}

    <title>{{ angle['link'] }}</title>
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico"/>
    {% endblock %}
</head>
<body onload="body_onload();">
<!-- Your page content -->
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
    <div class="container">
{#        <a class="navbar-brand" href="/collection?ref={{item_buff.ref_uuid}}&page={{request.args.get('page')}}"><img src="/static/backwards-arrow.png"></a>#}
{#        <a class="navbar-brand" href="/angle?uuid={{item_buff.prev_uuid}}&ref={{item_buff.ref_uuid}}&page={{request.args.get('page')}}"><img src="/static/backwards.png"></a>&nbsp;#}
{#        <a class="navbar-brand" href="/article?uuid={{item_buff.next_uuid}}&ref={{item_buff.ref_uuid}}&page={{request.args.get('page')}}"><img src="/static/forward.png"></a>#}
{#        <div class="navbar-brand">Артикул: {{item_buff.item['article']}}</div>#}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </div>
</nav>

<div class="container">
    <div class="slider">
        <div align="center">
            <img style="max-height:750px;" src="data:image/jpeg;base64, {{ angle['image_base64'] }}" alt="image">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}

<script>

function body_onload() {

    let s = window.location.search.match(new RegExp('keyword' + '=([^&=]+)'));
    document.getElementById('search').value = s ? s[1] : '';

}

</script>

{% endblock %}
</body>
</html>