<nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img height="44" src="/static/analpa-logo.png"></a>
        <a class="navbar-brand" href="#"><img width="34" src="/static/download.jpg" onclick="save_static_data();"
                                              alt="Сохранить" title="Сохранить в excel"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <input class="form-control" id="tableInput" type="text" placeholder="Поиск..">
        </div>
    </div>
</nav>